<header>
	<blog-navbar title="BetterBlog v2"></blog-navbar>
</header>
<div class="container">
	<div class="listArticle" *ngIf="!editing">
		<blog-article *ngFor="let article of articles; index as i;"
			[article]="article" (onModify)="modify($event, i)"
			(onDelete)="delete($event, i)"></blog-article>
		<button class="btn btn-info"
			(click)="addArticle()">Ajouter un article</button>
		<blog-article></blog-article>
	</div>
	<div class="container-fluid bg-light py-3" *ngIf="editing">
		<blog-article-edit [editArticle]="editArticle"
			(onCreate)="create($event)" (onUpdate)="update($event)">
		</blog-article-edit>
		<button class="btn btn-warn"
			(click)="backToList()">Revenir à la liste</button>	
	</div>
</div>