<nav class="navbar navbar-expand-sm navbar-dark bg-info">
	<a href="#" class="navbar-brand">{{ title }}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar4">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse" id="navbar4">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="#" (click)="navigate(NAV_LIST)">Liste des articles
					<span class="sr-only">Home</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" (click)="navigate(NAV_CREATE)">Créer un article</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" (click)="navigate(NAV_CONTACT)">Contact</a>
			</li>
		</ul>
	</div>
</nav>